* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container {
  overflow-x: hidden;
  max-width: 768px;
}

.image-wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(
    (100% - (1.5rem * (var(--images-per-view) - 1))) / var(--images-per-view)
  );
  grid-gap: 1.5rem;
  position: relative;
  left: 0;
}

.image-wrapper > * {
  aspect-ratio: 4 / 3;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
}
